.header {
    background-color: #010023;
}

.container-wrapper-headerazah{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.container-wrapper-headerazah h1 {
    color: #4896F2;
    font-size: 2.2em;
}